node_modules/
dist/
.env
token.json
credentials.json
*.log
scratch/

.vercel
.env*
android-app/app/build/
android-app-client/app/build/
android-app-commercial/app/build/
android-app/.gradle/
android-app-client/.gradle/
android-app-commercial/.gradle/
1.- Ejecutables/
.DS_Store
